@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');
.App {
  justify-content: center;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  width: 60%;
  margin: 0px 280px;
  border-radius: 10px;
  background-color: #f4f2f3;
  font-family: 'Source Sans Pro', sans-serif;
}
.header-img{
  height: 150px;
}
.header-btn{
  width:20%;
  height: 35px;
  background-color: #C0A9BD;
  font-family: 'Source Sans Pro', sans-serif;
}
.Main-about{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer{
  background-color:#C0A9BD;
  justify-content: space-between;
}
.footer>img{
  padding: 0px 5px;
}

